<div class="header">
    <mat-toolbar>
        <span>E-Docs</span>
        <span class="spacer"></span>
        <ul class="nav">
            <li>
                @if(isLoggedIn$ | async) {
                <div>
                    <a>Logout</a>
                </div>
                }
                @else {
                <div>
                    <a routerLink="/login">Login</a>
                </div>
                }
            </li>
        </ul>
        <button mat-icon-button aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>