<div class="header">
    <mat-toolbar class="nav">
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>E-Docs</span>
        @if(user$ | async; as user) {
        <span> - </span>
        <span>{{ user.firstName }} {{ user.lastName }}</span>
        }

        <span class="spacer"></span>
        {{ (isLoggedIn$ | async) }}
        @if((isLoggedIn$ | async)===true) {
        <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="onLogout()">
            <mat-icon>login</mat-icon>
        </button>
        }
        @else {
        <button mat-icon-button aria-label="Example icon-button with menu icon" routerLink="/login">
            <mat-icon>logout</mat-icon>
        </button>
        }
    </mat-toolbar>
</div>