/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/@angular/material/theming";
@use '@angular/material' as mat;

@include mat.core();


$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

div.container-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding : 1.5rem;
    gap: 1.5rem;
}

div.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 2rem;
  height: 100%;
}

w-30 {
  width: 30%;
}